<form (submit)="handleSubmit()" name="test">

<mat-form-field appearance="fill" *ngFor="let pl of placeholders">
  <mat-label>Placeholder {{pl.key}}</mat-label>
  <mat-select [(ngModel)]="pl.value" [name]="pl.key">
    <mat-option *ngFor="let csvHeader of csvHeaders" [value]="csvHeader">
      {{csvHeader}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br/>
<button (click)="loadPlaceholders()">load placeholders</button>
<br/>
<button (click)="loadCSVHeaders()">load csv headers</button>
<br/>
<button type="submit">submit</button>
<h2 *ngIf="loading">loading..</h2>

</form>
